﻿@model AlluringDecors.Models.Contract

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractSigningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractSigningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
